.margin-1-rem{
    margin: 1rem !important;
}

.margin-y-1-rem{
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.margin-x-1-rem{
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.margin-x-half-rem{
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stretch-to-fill{
    width: 100%;
    height: 100%;
}