<main class='py-3'>
  <section class='container py-3'>
    <h1 class=''> ADD PRODUCTS </h1>
    {{> add-product-form}}

  <section id='products' class='d-flex flex-wrap' style='width: 50%;' ></section>

</main>