<div style="width: 100%;" class="d-flex flex-column align-items-center my-4 text-center">
    <h2>{{error}}</h2>
    <p>{{description}}. Return <a href="/">Home</a>. </br>

    <div style="width: 50vw">
        <p>
        This view was made by modifying our Custom Router so that if the policies fail <b>whenever the views router is being used</b> you'll get a custom res.errorPage return value which can be modified with params. 
        </p>
    </div>
    </p>
</div>