<main class="py-3">
  <section class="container py-3">
    <h1 class="">ADD PRODUCTS</h1>
    <form class="">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title">
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price">
      </div>
      <div class="mb-3">
        <label for="stock" class="form-label">Stock</label>
        <input type="number" class="form-control" id="stock">
      </div>
      <div class="mb-3">
        <label for="photo" class="form-label">Photo</label>
        <input type="text" class="form-control" id="photo">
      </div>
      <button type="submit" id="submit" class="btn btn-primary">Submit</button>
    </form>
  </section>
  <section
    id="products"
    class="d-flex flex-wrap"
    style="width: 50%; height: calc(100vh - 60px);"
  ></section>
</main>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script>
  const socket = io();
  socket.on("productManager_data", data => {
    const template = data
        .map(each => ` <img style="width: 50%; height: 50%" src="${each.photo}" class="object-fit-cover" alt="${each.id}"> `)
        .reverse()
        .join("")
    document.querySelector("#products").innerHTML = template
  })
  document.querySelector("#submit").addEventListener("click", (event) => {
    const title = document.querySelector("#title").value
    const price = document.querySelector("#price").value
    const stock = document.querySelector("#stock").value
    const photo = document.querySelector("#photo").value
    socket.emit("productManager_create", { title, price, stock, photo })
  })
</script>