<div class="container mt-5">
    <h1 class="mb-4">Reset Your Password</h1>
    <form action="/api/sessions/reset-password" method="POST" class="bg-light p-4 rounded shadow-sm">
        <input type="hidden" name="token" value="{{token}}">
        <div class="mb-3">
            <label for="newPassword" class="form-label">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</div>
