<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify your account</title>
</head>
<body>
    <div class="container">
        <h1>Account verification</h1>
        <p>Click the button below to verify your account.
            <br>
        </p>
        <button type="submit" class="btn btn-primary" onclick="verify('{{user_id}}')">Verify Account</button>
    </div>
    <script src="/scripts/verifyAccount.js"> </script>
</body>
</html>