<form class=''>
  <div class='mb-3'>
    <label for='title' class='form-label'> Title </label>
    <input type='text' class='form-control' id='title' />
  </div>
  <div class='mb-3'>
    <label for='price' class='form-label'> Price </label>
    <input type='number' class='form-control' id='price' />
  </div>
  <div class='mb-3'>
    <label for='stock' class='form-label'> Stock </label>
    <input type='number' class='form-control' id='stock' />
  </div>
  <div class='mb-3'>
    <label for='category' class='form-label'> Category </label>
    <select class='form-control' id='category'>
      <option value='fruit'>Fruit</option>
      <option value='vegetable'>Vegetable</option>
    </select>
  </div>
  <div class='mb-3'>
    <label for='photo' class='form-label'> Photo </label>
    <input type='text' class='form-control' id='photo' />
  </div>
  <button type='button' id='submit' class='btn btn-primary' onclick="addProduct()"> Submit </button>
  <script src='/scripts/real.js'></script>
</form>
